@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap');


@import "tailwindcss";

@theme {
  --font-satisfy: "Satisfy", cursive;
  --font-lobster: "Lobster", sans-serif;
  --font-family: "Big Shoulders Stencil", sans-serif;
}